// Paths
$imagePath: "../static/img";
$fontPath: "../static/fonts";

// Breakpoints
$huge-screen: 1500px;
$big-screen: 1300px;
$medium-screen: 900px;
$small-screen: 780px;
$tiny-screen: 480px;

// Site Width
$row: $huge-screen;

// DH Colours Pallet

// DH Brand
$dh-green: #00ad93;
$dh-blue: #0063be;
$dh-coolgrey: #616265;
$dh-red: #cc092f;
$dh-orange: #e57200;
$dh-dark-red: #8b2346;
$dh-skyblue: #34b6e4;
$dh-grass-green: #2eb135;
$dh-dark-green: #006652;
$dh-yellow: #ecac00;
$dh-lavender: #cd66cc;
$dh-purple: #512698;

// Site
$base-font-colour: #313133;
$body-background: #f4f4f4;
$doc-white: #f4f4f4;
$nearly-white: #dcdfe5;
$light-grey: #c4c6cc;
$light-medium-grey: #939499;
$medium-grey: #7a7c80;
$dark-grey: #616265;
$nearly-black: #494a4d;
$black: #18191a;

// Site Branding
$brand-primary: $dh-green;
$brand-secondary: $dh-blue;
$brand-tertiary: $dh-orange;

// Errors
$highlight: $dh-red;
$error: $dh-yellow;

// Text Links
$link-colour: $brand-secondary;
$link-hover-colour: $brand-primary;

// Buttons
$button: $brand-secondary;
$button-inactive: scale-color($brand-secondary, $lightness: 50%);
$button-hover: $brand-tertiary;
$button-text: #fff;
$button-text-hover: #fff;

// Tables
$table-borders: $medium-grey;

// Borders
$border-colour: $dark-grey;
$border-radius: 0px;
$input-border: $dark-grey;
$input-border-focus: $brand-secondary;

// Margins
$margin: 30px;

// Padding
$padding: 30px;
