$footer-text: $white;
$footer-link: $white;
$footer-link-hover: $brand-tertiary;

.footer {
    background: $dark-grey;
    color: $footer-text;
    clear: both;

    .footer-navigation {
        padding: $padding 0 0;
    }

    li {
        display: inline;

        a {
            margin: 0 $margin 0 0;
            color: $footer-link;

            @media screen and (max-width: $medium-screen) {
                @include span-columns(12);
            }

            &:hover {
                color: $footer-link-hover;
            }
        }
    }


    .footer-message {
        padding: $padding 0;

        a {
            color: $footer-link;
            text-decoration: underline;

            &:hover {
                color: $footer-link-hover;
            }
        }
    }
}
