// Resets / Global form styles

input[type=text],
input[type=search],
input[type=email],
input[type=phone],
input[type=password],
textarea {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    border-radius: 0;
    border: 2px solid scale-color($input-border, $lightness: 50%);
    font-size: $base-font-size;
    padding: 7px;
    margin: 0;
    outline: 0;
    transition: all 0.2s ease-in-out;
    width: 75%;
}

@media screen and (max-width: $small-screen) {

    input[type=text],
    input[type=search],
    input[type=email],
    input[type=phone],
    input[type=password],
    textarea {
        width:100%;
    }

}

input[type=file] {
    outline: none;
    font-size: $base-font-size;
}

textarea {
    resize: none;
}

input[type=text]:focus,
input[type=search]:focus,
input[type=email]:focus,
input[type=phone]:focus,
input[type=password]:focus,
textarea:focus {
    border: 2px solid $input-border-focus;
}

// Buttons

.button {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor: pointer;
    border: 0;
    padding: ($padding)/2 $padding;
    background: $button;
    font-size: $base-font-size;
    color: $button-text;
    transition: all 0.2s ease-in-out;
    margin: 0 0 $margin 0;
    outline: none;
}

.button:hover {
    background: $button-hover;
    color: $button-text;
}

.button:active, .button:focus {
    background: $button-hover;
    color: $button-text;
}

.button[disabled="disabled"], .button:hover[disabled="disabled"] {
    background: $button-inactive;
    color: $button-text;
    cursor: default;
    opacity: 0.5;
}

a.button {
    display: inline-block;
    color: $button-text;
}

.cta .button {
    margin: 0;
}

// Labels

.form-group label, .form-group legend {
    display: block;
    padding: 0 0 ($padding)/4 0;
}

.form-group em {
    font-style: italic;
    display: block;
    color: scale-color($base-font-colour, $lightness: 50%);
    font-size: $base-font-size/1.618;
}

.form-group, .form-buttons {
    margin: 0 0 $margin 0;
}

.form-group .required {
    font-size: $base-font-size/1.618;
}

.form-error {
    padding: ($padding)/2;
    background: scale-color($error, $lightness: 50%);
}

.form-error input[type=text] {
    border-color: $error;
}

.form-error span {
    font-weight: bold;
}

label.radio-group, label.checkbox-group {
    position: relative;
    background: scale-color($input-border, $lightness: 75%);
    border: 2px solid scale-color($input-border, $lightness: 75%);
    padding: ($padding)/2 $padding ($padding)/2 ($padding)+($padding)/2;
    margin: 0 $margin $margin 0;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

.block-labels {
    label.radio-group, label.checkbox-group {
        float: left;
        display: block;
        clear:left;
    }
}

label.radio-group:hover, label.radio-group.selected,
label.checkbox-group:hover, label.checkbox-group.selected {
    border:2px solid scale-color($input-border-focus, $lightness: 0%);
}

label.radio-group input[type=radio],
label.checkbox-group input[type=checkbox] {
    position: absolute;
    top: 20px;
    left: 15px;
}
