// Header

$header-links: $white;

.header {
    background: $brand-primary;

    .row {
        position: relative;
    }

    .logo {
        width: 400px;
        margin: 30px 0 0 0;
        float: left;

        @media screen and (max-width: $medium-screen) {
            width: 300px;
        }

        img {
            max-width: 100%;
            display: block;
        }

        h1 {
            @include hide;
            margin: 0;
        }
    }

    .search-form {
        @include span-columns(5);
        position: absolute;
        top: 37px;
        right: 0;

        @media screen and (max-width: $medium-screen) {
            @include span-columns(8);
            position: static;
            margin: $margin 0;
            float: right;
        }

        label {
            @include hide;
        }

        input[type=search] {
            width: 80%;
            border: 2px solid $white;
            height: 35px;

            &:focus {
                // box-shadow: 0 0 0 2px $dh-dark-green;
                border: 2px solid $dh-dark-green;
            }
        }

        button {
            float: right;
            width: 20%;
            height: 35px;
            background: $dh-dark-green;
            text-align: center;
            margin: 0;
            padding: 0;

            img {
                width: 18px;
                height: auto;
                position: relative;
                top: 2px;
            }

            span {
                position: absolute;
                left: -9999px;
            }

            &:hover {
                background-color: scale-color($dh-dark-green, $lightness: -50%);
            }
        }
    }

    .user-welcome {
        float: right;
        margin: 10px 0 0;
        padding: 5px $padding/2 5px 0;

        @media screen and (max-width: $medium-screen) {
            @include hide;
        }

        li {
            list-style: none;
            display: inline;
            color: $header-links;
            float: right;
        }
        a {
            display: block;
            float: right;
            margin: 0 0 0 $margin/2;
            color: $header-links;
        }
    }

}