// Header
.header {

    .nav-toggle {
        @include hide;
        color: $white;
        float: left;
        margin: 0 0 0 36px;
        cursor: pointer;

        &:before {
            position: absolute;
            content: "";
            width: 24px;
            height: 24px;
            background: url("#{$imagePath}/icon-menu.svg") 50% 50% no-repeat;
            left: -30px;
        }

        @media screen and (max-width: $medium-screen) {
            @include show;
            position: relative;
        }
    }

    .logo {
        img {
            max-width: 100%;
            display: block;

            @media screen and (max-width: $medium-screen) {
                @include hide;
            }
        }

        h1 {
            @include hide;

            @media screen and (max-width: $medium-screen) {
                @include show;
                float: right;
                font-size: $base-font-size;
                margin: 0 ($margin)/2 0 0;

                a {
                    color: $white;
                }
            }
        }
    }
}

// Nav
$nav-link: $nearly-black;
$nav-link-hover: $nearly-black;
$nav-link-background-hover: $light-medium-grey;

.navigation {
    margin: $margin 0 0;
    clear: both;

    li {
        border-bottom: 1px solid $light-medium-grey;
        a {
            display: block;
            padding: 10px 15px;
            color: $nav-link;
            @include transition(all 0.2s ease-in-out);

            &:hover {
                background: $nav-link-background-hover;
            }
        }
    }
}


@media screen and (max-width: $medium-screen) {
    .navigation {
        display: none;

        li {
            border: none;
            a {
                color: $medium-grey;
                &:hover {
                    color: $white;
                    background: transparent;
                }
            }
        }
    }

    .navigation.opened {
        display: block;
    }
}

.top-navigation-bar {
    clear: both;

    li {
        display: inline;
        a {
            display: block;
            float: left;
            padding: 5px 10px;
            margin: 0 5px 0 0;
            color: $nav-link;
            @include transition(all 0.2s ease-in-out);

            &:hover {
                color: $nav-link-hover;
            }
        }
    }
}

.sidebar-search-form {
    .search-box {
        border-color: $brand-secondary;
        background: $brand-secondary;
        margin: 0 0 $margin;
        color: $white;
        width: 100%;

        &:focus {
           border-color: $brand-secondary;
        }

        -webkit-search-cancel-button {
            display: none;
        }

        -webkit-input-placeholder {
            color: $white;
        }
    }
}
