// Nav
$nav-link: $white;
$nav-link-hover: #2a6e65;
$nav-link-background-hover: #a3e8dd;
$sub-nav-link: #2a6e65;
$sub-nav-background: #a3e8dd;

.nav-container {
    clear: both;
    padding-top: $padding;
    @media screen and (max-width: $small-screen) {
    padding: 0;
    }
}

.menu-main-container {
    float: left;
}

.navigation {

    .menu {
        text-align: left;
        display: block;
        position: relative;
        z-index: 15;
    }

    .menu > li {
        display: inline-block;
    }

    .menu > li > a {
        display: inline-block;
        padding: $padding/2 $padding;
        color: $nav-link;
    }

    .menu > li.active a,
    .menu > li > a:hover,
    .menu > li > a.open {
        background: $nav-link-background-hover;
        color: $sub-nav-link;
    }

    .menu > li > a:focus {
        background: $nav-link-background-hover;
        color: $sub-nav-link;
        outline: 2px solid $dh-dark-green;
    }

    .menu > li > a.open {
        position: relative;
        z-index: 1;
    }

    .sub-nav {
        position: absolute;
        display: none;
        top: 52px;
        padding: #{$padding / 2} #{$padding - 4px};
        background: $sub-nav-background;
        border-bottom: 3px solid $brand-primary;
    }

    .sub-nav ul li {
        padding: 0 0 0 $padding/2;
    }

    .sub-nav a {
        display: block;
        min-width: 200px;
        color: $sub-nav-link;
        padding: 0 5px;

        &:hover {
            text-decoration: underline;
        }
    }

    .sub-nav a:focus {
        outline: 2px solid $dh-dark-green;
    }

    .sub-nav.open {
        display: block;
    }

    .sub-nav ul {
        display: inline-block;
        margin: 0 $margin 0 0;
        padding: 0;
    }

    .sub-nav li {
        display: block;
    }

}

@media screen and (max-width: $small-screen) {

    .menu-main-container {
        float: none;
    }

    .navigation {
        clear: both;
        text-align: left;
        @include hide;

            &.opened {
                @include show;
            }

            .active a {
             background: transparent;
             color: $nav-link;
             border-bottom: 1px solid $nav-link;
            }

            li, .nav-item {
                display: block;
                width: 100%;

                > a {
                    float: none;
                    display: block;
                    width: 100%;
                    padding: #{$padding / 2} $padding;
                    color: $nav-link;
                    background: transparent;
                    border-bottom: 1px solid $nav-link;
                }
            }

        .has-sub-menu {
            display: block;
            position: static;
        }

        .sub-nav {
            width: 100%;
            position: static;
            display: block;
            background: transparent;
            color: #fff;
            padding: 0;
        }

        .sub-nav a {
            min-width: 100%;
            display: block;
            color: #fff;
            padding: #{$padding / 2} #{$padding + 15};
        }
    }
}

// Nav Toggle
.nav-toggle {
    @include hide;
    cursor: pointer;
    @include ghost-button ($white);
    padding: 6px 6px 7px;
    font-size: $base-font-size;


    @media screen and (max-width: $medium-screen) {
        position: absolute;
        left: 30px;
        top: 97px;
        @include span-columns(3);
    }
}
