$sidebar-heading-text: $base-font-colour;
$sidebar-link: $dh-blue;
$sidebar-link-hover: $dh-green;
$sidebar-link-background-hover: transparent;

.sidebar {
    @include span-columns(4);

     @media screen and (max-width: $medium-screen) {
        @include span-columns(12);
    }

    .widget {
        margin: 0 0 $margin;

        .root-page {
            display: none;
        }

        h5, h6 {
            color: $sidebar-heading-text;
            font-size: $base-font-size*1.5;

            a {
                color: $sidebar-heading-text;
            }
        }


        li {
            border-bottom: 1px solid $light-medium-grey;
            a {
                display: block;
                padding: 5px 10px;
                color: $sidebar-link;
                @include transition(all 0.2s ease-in-out);

                &:hover {
                    color: $sidebar-link-hover;
                    background: $sidebar-link-background-hover;
                }
            }
        }

        .highlight-current > a {
            font-weight: bold;
            color: $black;

            &:hover {
                color: $black;
            }
        }

        .children {
            margin: 0 0 0 10px;

            li {
               border-bottom: none;
            }
        }
    }

    .page-details-widget {
        h5 {
            color: $sidebar-heading-text;
            font-size: $base-font-size*1.5;
        }

        .author-email, .author-team {
            padding: 5px 10px;
            font-weight: bold;
            border-bottom: 1px solid $light-medium-grey;

            a {
                color: $sidebar-link;
                padding: 0;
                font-weight: normal;

                &:hover {
                    color: $sidebar-link-hover;
                    background: transparent;
                }
            }
        }
    }

}

.single .sidebar {
    @include span-columns(4);
    @include omega();

    @media screen and (max-width: $medium-screen) {
        @include span-columns(12);
    }

    .widget-inner {

        .page-review {
            padding: 15px;
        }

        li {
            border-bottom: 1px solid $light-medium-grey;
            a {
                display: block;
                padding: 5px 10px;
                color: $sidebar-link;
                @include transition(all 0.2s ease-in-out);

                &:hover {
                    color: $sidebar-link-hover;
                    background: $sidebar-link-background-hover;
                }
            }
        }
    }
}
