$sidebar-heading-text: $white;
$sidebar-link: $nearly-black;
$sidebar-link-hover: $nearly-black;
$sidebar-link-background-hover: $brand-secondary;

.page .sidebar {
    @include span-columns(4);

     @media screen and (max-width: $medium-screen) {
        @include span-columns(12);
    }

    .widget {

        h5 {
            background: $brand-secondary;
            width: 100%;
            padding: 10px 15px;
            margin: 0;
            color: $sidebar-heading-text;
            font-size: $base-font-size*1.076;
            border-bottom: 1px solid $white;

            a {
                color: $sidebar-heading-text;
            }
        }

        h6 {
            background: $dark-grey;
            width: 100%;
            padding: 10px 15px;
            margin: 0;
            color: $sidebar-heading-text;
            font-size: $base-font-size*1.076;
            border-bottom: 1px solid $white;
        }

        li {
            border-bottom: 1px solid $light-medium-grey;
            a {
                display: block;
                padding: 10px 15px;
                @include transition(all 0.2s ease-in-out);
                color: $dark-grey;

                &:hover {
                    color: $black;
                    background: $brand-tertiary;
                }
            }
        }

        .author-email {
            padding: 10px 15px;
            font-weight: bold;

            a {
                padding: 0;
                font-weight: normal;
            }
        }

        .highlight-current a {
            background: $brand-tertiary;
            color: $black;

            &:hover {
                color: $black;
            }
        }
    }

}

.single .sidebar {
    margin-top: ($margin)*2;
}

.single .sidebar {
    @include span-columns(4);
    @include omega();

    @media screen and (max-width: $medium-screen) {
        @include span-columns(12);
    }

    .widget {
        margin: 0 0 $margin;
    }

    h3 {
        font-size: $base-font-size*1.076;
    }

    h3, h4 {
        background: $dark-grey;
        color: $white;
        padding: ($padding)/2;
        margin: 0;
    }

    .page-review {
        padding: 15px;
    }

    li {
        border-bottom: 1px solid $light-medium-grey;
        a {
            display: block;
            padding: 10px 15px;
            color: $sidebar-link;
            @include transition(all 0.2s ease-in-out);

            &:hover {
                background: $sidebar-link-background-hover;
            }
        }
    }
}
