// Site

html {
    font-size: 62.5%; // Creates a baseline of 1em/rem = 10px;
    background: $body-background;
}

body {
    font-family: $base-sans;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $base-font-colour;
    background: $body-background;
}

// Main Section
.main {
    margin: auto;
    max-width: $row;
    @include padding($padding);
    background: $white;
}

a {
    color: $link-colour;
    text-decoration: none;

    &:hover {
        color: $link-hover-colour;
    }
}

.hide {
    @include hide;
}

.row {
    margin: auto;
    max-width: $row;
    @include padding(0 $padding);
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.emergency-message {
    background: $highlight;
    padding: ($padding/2);
    color: $white;
    font-size: $base-font-size;
    font-weight: bold;
    margin-bottom: $margin;
}
