// Site

html {
    font-size: 62.5%; // Creates a baseline of 1em/rem = 10px;
    background: $body-bg;
}

body {
    font-family: $base-sans;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $base-font-colour;
}

// Left Navigation Bar
.header-sidebar {
    width: 20%;
    @include pad(30px default);
    @include omega();
    background: $light-grey;
    height: 100%;
    position: fixed;
    top:0;
    left:0;

    @media screen and (max-width: $medium-screen) {
        @include span-columns(12);
        padding: 10px;
        background: $black;
        position: static;
    }
}

// Main Section
.main {
    width: 80%;
    @include pad(30px default);
    @include omega();
    margin: 0 0 0 20%;

    @media screen and (max-width: $medium-screen) {
        @include span-columns(12);
        margin: 0;
    }
}

a {
    color: $link-colour;
    text-decoration: none;

    &:hover {
        color: $link-hover-colour;
    }
}

.hide {
    @include hide;
}
