// Typography

// Mobile system fonts: Apple iOS system font, iOS San Francisco, Apple San Francisco, Android, Windows Phone;
$system-font-family-sans: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI";

$font-family-sans: $system-font-family-sans, "Helvetica Neue", Arial, Sans-Serif;
$font-family-serif: "Georgia", Times, Serif;

$base-sans: $font-family-sans;
$base-font-size: 16px;
$base-line-height: 1.4;

$heading-line-height: 1.4;
$heading-colour: $base-font-colour;
$heading-link: $brand-secondary;
$heading-link-hover: $brand-primary;

$paragraph-measure: 44em;

// Headings
h1 {
  font-size: #{$base-font-size * 2.5};
}

h2 {
  font-size: #{$base-font-size * 2};
}

h3 {
  font-size: #{$base-font-size * 2};
}

h4 {
  font-size: #{$base-font-size * 1.5};
}

h5 {
  font-size: $base-font-size;
}

h6 {
  font-size: $base-font-size;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-colour;
  font-weight: bold;
  line-height: $heading-line-height;
  margin: 0 0 $margin 0;

  a {
    color: $heading-link;

    &:hover {
      color: $heading-link-hover;
    }
  }
}

.rich-text {

  h1, h2, h3, h4, h5, h6 {
    margin: $margin 0 #{$margin / 2};
    max-width: 30em;
  }

  article p, p {
    margin: 0 0 $margin 0;
    max-width: $paragraph-measure;
    -webkit-font-variant-ligatures: discretionary-ligatures;
  }

  article ul, ul {
    margin: 0 0 $margin 18px;
    max-width: $paragraph-measure;
    li {
      list-style-type: disc;
      margin-bottom: #{$margin / 2};
      ul {
        margin: 0 0 0 $margin;
        li {
          list-style-type: circle;
          margin-bottom: #{$margin / 2};
        }
      }
    }
  }

  article ol, ol {
    margin: 0 0 $margin 18px;
    max-width: $paragraph-measure;
    li {
      list-style-type: decimal;
      margin-bottom: 0.5em;
      ol {
        margin: 0 0 0 $margin;
        li {
          list-style-type: lower-latin;
          margin-bottom: #{$margin / 2};
        }
      }
    }
  }

  blockquote {
    padding: 0 0 0 #{$padding * 2};
    margin: 0 0 $margin 0;
    max-width: $paragraph-measure;
    border-left: 4px solid scale-color($base-font-colour, $lightness: 50%);

    cite:before {
      content: "\2014\00a0";
    }

    cite {
      font-family: $font-family-serif;
    }
  }

    // Horizontal Rule

    hr {
      border: none;
      border-top: 1px solid scale-color($base-font-colour, $lightness: 50%);
      margin: $margin 0;
      height: 0;
      line-height: 0;
    }

    // Article Links
    a {
      color: $link-colour;
      text-decoration: none;
    }

    a:hover {
      color: $link-hover-colour;
      text-decoration: underline;
    }

    strong, b {
      font-weight: bold;
    }

    em, i {
      font-style: italic;
    }

    // Tables
    table {
      width: $paragraph-measure;
      border: 1px solid $table-borders;
      margin: 0 0 $margin;

      strong {
        font-weight: bold;
      }

      p {
        margin: 0;
      }

      thead {}

      th {
        border: 1px solid $medium-grey;
        padding: 5px 10px;
      }
      tr {}

      td {
        border: 1px solid $medium-grey;
        padding: 5px 10px;
      }

      tfoot {}
    }

}

// Post Images

.wp-post-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.alignright {
  float: right;
  margin: 1em 0 1em 1em;
}

.alignleft {
  float: left;
  margin: 1em 1em 1em 0;
}

.aligncenter {
  display: block;
  margin: 1em auto;
}

.alignnone {
  display: block;
  margin: 1em;
}

.inline-icon {
  width: 16px;
  height: 16px;
  position: relative;
  top: 2px;
}
