.respond {
    clear: both;
}

.comments {
    clear: both;

    a {
        color: $brand-primary;
    }

    hr {
        border: 0;
        border-top: 1px solid $light-grey;
        margin: $margin 0;
    }

    li ul {
        padding: 0 0 0 $padding;
    }

    li {
        margin: 0 0 $margin;
        display: block;
        clear: both;

        .comment-avatar {
            @include span-columns(2 of 12);
            float: left;

            img {
                border: 2px solid $medium-grey;
                width: 68px;
                display: block;
            }
        }

        .comment-body {
            @include span-columns(7 of 9);
            margin-bottom: $margin;
            padding: 0 0 0 $padding;

            p {
                margin-bottom: $margin;
            }
        }

        .comment-meta {
            clear: both;
            width: 100%;

            .comment-author {
                float: left;
            }

            time {
                float: right;
                padding: 0 0 0 ($padding)*2;
                font-weight: bold;
            }
        }
    }
}
