.director {

    figure {
        position: relative;
        @include span-columns(4 of 12);
        margin-bottom: $margin;

        @media screen and (max-width: $medium-screen) {
            @include span-columns(12);
        }
    }

    .article-content {
        @include span-columns(8 of 12);

        @media screen and (max-width: $medium-screen) {
            @include span-columns(12);
        }
    }

}

.directorate-article {
    margin: 0 0 $margin;

    figure {
        position: relative;
        @include span-columns(4 of 12);
        margin-bottom: $margin;

        @media screen and (max-width: $medium-screen) {
            @include span-columns(12);
        }
        .meta {
            position: absolute;
            top: 10px;
            right: 10px;
            background: $brand-primary;
            color: $white;
            padding: 5px 15px;

            a  {
                color: $white;
            }

            span {
                display: block;
            }
        }

        .meta:after {
            width: 10px;
            height: 10px;
            position: absolute;
            left: 10px;
            bottom: -10px;
            content: "";
            border-top: 10px solid $brand-primary;
            border-right: 10px solid transparent;
        }

    }

    time {
        font-weight: bold;
    }

    .article-content {
        @include span-columns(8 of 12);
        float: right;

        h2 {
            margin-top: 0;
        }

        p {
            margin-bottom: 0;
        }

        @media screen and (max-width: $medium-screen) {
            @include span-columns(12);
        }
    }
}