
.landing-pages {
    margin: $margin 0 0 0;

    .child-pages {
        margin-bottom: #{$margin * 2};
        background: $nearly-white;
        padding: #{$padding / 2};

        @media screen and (max-width: $medium-screen) {
            @include span-columns(12);
        }

        h3 {
            margin-top: 0;
        }

        li {
            @include span-columns(3 of 12);
            @include omega(4n);
            @media screen and (max-width: $medium-screen) {
                @include span-columns(12);
                @include omega;
            }

            a {
                display: block;
                padding: #{$padding / 2};
                @include transition(all 0.2s ease-in-out);
                min-height: 180px;
                background: $white;
                margin-bottom: $margin;
                box-shadow: 0 0 5px #bbb;

                h3 {
                  font-size: #{$base-font-size * 1.5};
                  color: $link-colour;
                }

                &:hover {
                  h3 {
                      color: $link-hover-colour;
                  }
                }

            }
        }
    }
}
