.page {

    .article {
        @include span-columns(8);
        clear: none;

        @media screen and (max-width: $medium-screen) {
         @include span-columns(12);
      }
    }

    .content-feedback {
        clear: both;

        .hidden {
            display: none;
        }

        .content-feedback-found-it-label {
            color: #007ac3;
            text-decoration: underline;
            cursor: pointer;
        }
    }

}
