.single {

    .single-article {
       @include span-columns(8);
       @media screen and (max-width: $medium-screen) {
            @include span-columns(12);
        }
    }

    .featured-img {
        padding: 0;

        img {
            max-width: 100%;
            clear: both;
        }
    }

    article {
        margin-bottom: ($margin)*2;
    }

    figure {
        margin: 0 0 $margin 0;
        padding: 0 0 $padding 0;
    }

    .meta {
        font-weight: bold;
        margin: 0 0 $margin;
    }
}
