.breadcrumbs {

  ul {
    font-weight: bold;
    padding: 5px 0;
    margin: 0 0 $padding/2;
  }

  li {
    display: inline;

    &:after {
      content: "";
      margin: 0 5px;
      background: url("#{$imagePath}/icon-navigate-right.svg") no-repeat 0 0;
      width: 12px;
      height: 12px;
      display: inline-block;
    }

    &:last-child:after {
      display: none;
    }
  }

  a {
    color: $dark-grey;
    font-weight: normal;

    &:hover {
      color: $link-hover-colour;
    }
  }
}
