// Widget in header

.it-updates-widget {
  margin: 10px 0;
  float: right;
  padding: 5px 10px;
  background: $white;
  border-radius: 25px;

  @media screen and (max-width: $medium-screen) {
    @include hide;
  }

  a {
    color: $base-font-colour;
  }

  span {
    text-indent: -9999em;
    height: 20px;
    width: 20px;
    display: block;
    border-radius: 10px;
    float: right;
    margin: 2px 0 0 10px;
  }

  &.status-green span {
    background: $dh-grass-green;
  }

  &.status-amber span {
    background: $dh-yellow;
  }

  &.status-red span {
    background: $dh-red;
  }

}

// Table on page
.it-status-table {

  th {
    text-align: left;
    font-weight: bold;
  }

  th + th {
    text-align: center;
  }

  td img {
    width: 19px;
  }

  .it-status-table-light {
    text-align: center;
  }
}