// Pagination
.paginate {
    clear: both;
    width: 100%;

    h2 {
        @include hide;
    }

    a {
        padding: 5px 10px;
        border: 1px solid $dark-grey;
        color: $dark-grey;
        margin: 0 10px 0 0;

        &:hover {
            border: 1px solid $brand-secondary;
            color: $white;
            background: $brand-secondary;
        }
    }

    span {
        padding: 5px 10px;
        border: 1px solid $dark-grey;
        color: $dark-grey;
        margin: 0 10px 0 0;
    }

    .current {
        border: 1px solid $medium-grey;
        color: $medium-grey;
    }
}