.tabs {
  padding: 0 0 $padding 0;
  position: relative;
}

.tabs-navigation {
  li {
    display: inline-block;

    a {
      margin: 0 5px 0 0;
    }

    a.selected {
      color: $black;
      font-size: $base-font-size;
      border-bottom: 2px solid $black;
    }
  }
}

.policy-tabs-navigation {
  margin: 0 0 $margin/2 0;

  li {
    a {
      background: $black;
      color: $doc-white;
      padding: 5px 10px;
    }

    a.selected {
      background: transparent;
      color: $black;
      border-bottom: none;
    }
  }
}
