
.landing-pages {
    margin: $margin 0 0 0;

    .child-pages {
        @include pad(default);
        background: $light-grey;
        margin-bottom: $margin;

        @media screen and (max-width: $medium-screen) {
            @include span-columns(12);
        }

        h3 {
            margin-top: 0;
        }

        li {
            border-bottom: 1px solid $light-medium-grey;
            @include span-columns(6 of 12);
            @include omega(2n);
            @media screen and (max-width: $medium-screen) {
                @include span-columns(12);
                @include omega;
            }

            a {
                display: block;
                padding: 10px 0;
                @include transition(all 0.2s ease-in-out);
                color: $brand-primary;

                &:hover {
                    color: $brand-secondary;
                }
            }
        }
    }
}
