.search-results-list {

  .count {
    @include span-columns(2);
    font-weight: bold;
    margin: 0 0 $margin;
    padding: $padding/2 0;
  }

  .search-filters {
    @include span-columns(10);
  }

}